
.navbar-custom { 
    background-color: black; 
} 

#navlogo-id{
    position: fixed;
    right: 10px;
    top: 5px;
  }

  .Titleheading1{
    position: fixed;
    left: 20px;
    top: 40px;
    color: black;
    font-size: 36px;
    
  }

  .buttoncanonred{
    background-color: #e31d1a;
    color: white
  }

  .buttonblack{
    color: white
  }